@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    html {
        scroll-behavior: smooth;
    }

    body {
        font-family: "Inter", sans-serif;
        height: 100%;
        width: 100%;
        background-color: #F9FBFC;
        overflow-x: hidden;
    }

    input:focus {
        outline: none;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 30px #f1f5f9 inset !important;
    }

    a,
    button {
        transition: 0.1s ease-in;
    }

    .container {
        padding-left: 30px;
        padding-right: 30px;
        width: 100%;
        max-width: 1300px;
    }

    @media(max-width: 1040px) {
        .container {
            padding-left: 16px;
            padding-right: 16px;
        }
    }

    @media(max-width: 768px) {
        .container {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}